
# Name of the application
name = "unixtime"

[Build]

  # Command to build the application, valid variables: $ROOT, $APPNAME
  command = "make clean docker_build"

  # Repository relative paths to baur include files that the build inherits.
  # Valid variables: $ROOT
  includes = []

  # Specification of build inputs like source files, Makefiles, etc
  [Build.Input]

    # Inputs specified by path, matching only Git tracked files
    [Build.Input.GitFiles]

      # Relative paths to source files.
      # Only files tracked by Git that are not in the .gitignore file are matched.
      # The same patterns that git ls-files supports can be used.
      # Valid variables: $ROOT
      paths = ["*.c", "Makefile"]

  # Specification of build outputs produced by the [Build.command]
  [Build.Output]

    [[Build.Output.File]]

      # Path relative to the application directory, valid variables: $APPNAME
      path = "dist/unixtime"

      # Copy the file to a local directory
      [Build.Output.File.FileCopy]

        # Destination directory
        path = "/tmp/baur_build_artifacts/$APPNAME-$GITCOMMIT"
